body {
  margin: 0;
  background-color: rgb(44, 46, 56);
}

.hdr {
  box-shadow: 5px 6px 6px -6px grey;
  background-color: rgb(40, 37, 46);
  width: 100%;
}

.logo {
  width: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-facts {
  /* list-style: none; */
  max-width: 400px;
}

.list-facts > li {
  padding: 5px;
}

.list-facts li::marker {
  color: rgb(0, 233, 255);
  font-size: 1.5rem;
}

.ftr {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: goldenrod;
}

.logo2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo2 > img {
  padding: 5px;
}
.logo2 > p {
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(0, 233, 255);
}

.side-item {
  color: orange;
  font-weight: 600;
  margin-right: 20px;
}

.main-content {
  background-color: rgb(44, 46, 56);
  color: white;
  padding: 30px;
  background-image: url("./reactjs-icon\ 2.png");
  background-position: right 75%;
  background-repeat: no-repeat;
}

.main-content > h1 {
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  font-size: 35px;
}
